.page-item{
    /* padding: 10px; */
    width: 70px;
    text-align: center;
}

.nav a{
    color:black;
    font-size: 1rem;

}
.btn_cust::before{
    content: "#";
    
}
a:active{
    color:black;
}
.btn{

    color: lightslategray;

}

.search{
    width: 30rem;
}